<!-- news.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Новости</h1>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Новая практика в области недвижимости</h5>
            <p class="mb-1">Мы добавили новые услуги в области недвижимости, включая сопровождение сделок с загородной недвижимостью.</p>
            <small>Дата: 15 Января 2025</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Семейные консультации</h5>
            <p class="mb-1">Наша компания расширяет спектр услуг в области семейного права, предлагая подробные консультации по разводам и вопросам опеки.</p>
            <small>Дата: 10 Января 2025</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="mb-1">Обновления в корпоративном праве</h5>
            <p class="mb-1">С 1 февраля вступают в силу новые нормы, касающиеся договорных обязательств и ответственности компаний.</p>
            <small>Дата: 5 Января 2025</small>
        </a>
    </div>
</div>
{% endblock %}
