<!-- specialization.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Наши услуги</h1>
    <p>Мы занимаемся широким спектром юридических вопросов, в том числе:</p>

    <div class="row">
        <div class="col-md-4 text-center">
            <i class="bi bi-house-door-door text-primary" style="font-size: 3rem;"></i>
            <h4>Жилищные вопросы</h4>
            <p>Помогаем в вопросах аренды, покупки и продажи недвижимости, разбирательств с ЖКХ.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="bi bi-gavel text-primary" style="font-size: 3rem;"></i>
            <h4>Семейные дела</h4>
            <p>Предоставляем консультации по разводам, опеке, разделу имущества и другим вопросам семейного права.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="bi bi-file-earmark-text text-primary" style="font-size: 3rem;"></i>
            <h4>Корпоративное право</h4>
            <p>Занимаемся вопросами корпоративных споров, регистрации компаний, договорных обязательств.</p>
        </div>
    </div>
</div>
{% endblock %}
